.header {
  flex: none;
  background-color: #b0cbe6;
  border-bottom: 1px solid #000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  margin-right: 50px;
  color: rgb(66, 21, 228);
}
